In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_sachin = pd.read_csv("Sachin_ODI.csv")
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [4]:
df_sachin.shape

(360, 14)

In [5]:
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
dtype: int64

In [6]:
pd.crosstab(index=df_sachin["century"],
           columns=df_sachin["Won"])

Won      False  True
century
False      160   154
True        16    30

In [7]:
#contingency Table
pd.crosstab(index=df_sachin["century"],
           columns=df_sachin["Won"],
           margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360