## Agenda

  - **Restructuring data** ✅
    - `pd.melt()`✅
    - `pd.pivot()`✅
    - `pd.pivot_table()`✅
    - `pd.cut()`  
  - **Dealing with Missing Values**✅
    - `None and nan values`✅
    - `isna() and isnull()`✅
    - `dropna()`✅
    - `fillna()` ✅ 
  - **String method in pandas** 
    
  - **Handling datetime** 

  - **Writing to a file**

## Importing Dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("/Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/2_Sept_Beg_Tue_Oct_Beg_Tue/12_Pandas_5/Pfizer_1.csv")
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [4]:
df.shape

(18, 15)

## **Restructuring data**

### `pd.melt()`

In [12]:
pd.melt(df,
       id_vars=["Date","Drug_Name","Parameter"])

           Date                Drug_Name    Parameter  variable  value
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00   23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00   12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00    NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00    NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00   24.0
..          ...                      ...          ...       ...    ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00   14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00   23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00   28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00   24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00   15.0

[216 rows x 5 columns]

In [13]:
df_melt=pd.melt(df,
       id_vars=["Date","Drug_Name","Parameter"],
       var_name="Time",
       value_name="Reading")
df_melt

           Date                Drug_Name    Parameter      Time  Reading
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00     23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00     12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00      NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00      NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00     24.0
..          ...                      ...          ...       ...      ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00     14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00     23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00     28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00     24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00     15.0

[216 rows x 5 columns]

### `pd.pivot()`

In [16]:
df_pivoted_raw=pd.pivot(df_melt,
        index=["Date","Drug_Name","Time"],
        columns="Parameter",
        values="Reading")
df_pivoted_raw

Parameter                                    Pressure  Temperature
Date       Drug_Name               Time
15-10-2020 diltiazem hydrochloride 10:30:00      18.0         20.0
                                   11:30:00      19.0         20.0
                                   12:30:00      20.0         21.0
                                   1:30:00       12.0         23.0
                                   2:30:00       13.0         22.0
...                                               ...          ...
17-10-2020 ketamine hydrochloride  5:30:00       11.0         17.0
                                   6:30:00       12.0         18.0
                                   7:30:00       12.0         19.0
                                   8:30:00       11.0         20.0
                                   9:30:00       12.0         21.0

[108 rows x 2 columns]

In [17]:
df_pivoted_raw.index

MultiIndex([('15-10-2020', 'diltiazem hydrochloride', '10:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride', '11:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride', '12:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '1:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '2:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '3:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '4:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '5:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '6:30:00'),
            ('15-10-2020', 'diltiazem hydrochloride',  '7:30:00'),
            ...
            ('17-10-2020',  'ketamine hydrochloride', '12:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '1:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '2:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '3:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '4:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '5:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '6:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '7:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '8:30:00'),
            ('17-10-2020',  'ketamine hydrochloride',  '9:30:00')],
           names=['Date', 'Drug_Name', 'Time'], length=108)

In [18]:
df_pivot=df_pivoted_raw.reset_index()
df_pivot

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [22]:
df_pivot.columns

Index(['Date', 'Drug_Name', 'Time', 'Pressure', 'Temperature'], dtype='object', name='Parameter')

In [24]:
df_pivot.columns.name=None

In [25]:
df_pivot

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

In [28]:
df_pivot.index.name

In [29]:
df["Date"]

0     15-10-2020
1     15-10-2020
2     15-10-2020
3     15-10-2020
4     15-10-2020
5     15-10-2020
6     16-10-2020
7     16-10-2020
8     16-10-2020
9     16-10-2020
10    16-10-2020
11    16-10-2020
12    17-10-2020
13    17-10-2020
14    17-10-2020
15    17-10-2020
16    17-10-2020
17    17-10-2020
Name: Date, dtype: object

### `pd.pivot_table()`

In [30]:
pd.pivot_table(df_pivot,
              index="Drug_Name",
              columns="Date",
              values="Temperature")

Date                     15-10-2020  16-10-2020  17-10-2020
Drug_Name
diltiazem hydrochloride   21.454545   37.454545   15.636364
docetaxel injection       20.750000   51.454545   17.500000
ketamine hydrochloride    23.555556   11.500000   18.500000

In [32]:
pd.pivot_table(df_pivot,
              index="Date",
              columns="Drug_Name",
              values="Temperature")

Drug_Name,diltiazem hydrochloride,docetaxel injection,ketamine hydrochloride
Date,,,
15-10-2020,21.454545,20.750000,23.555556
16-10-2020,37.454545,51.454545,11.500000
17-10-2020,15.636364,17.500000,18.500000

In [33]:
pd.pivot_table(df_pivot,
              index="Drug_Name",
              columns="Date",
              values=["Temperature","Pressure"])

                          Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride  16.000000  22.545455   7.727273   21.454545
docetaxel injection      24.875000  27.000000  24.500000   20.750000
ketamine hydrochloride    9.333333  14.800000  11.500000   23.555556


Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride  37.454545  15.636364
docetaxel injection      51.454545  17.500000
ketamine hydrochloride   11.500000  18.500000

In [34]:
pd.pivot_table(df_pivot,
              index="Drug_Name",
              columns="Date",
              values=["Temperature","Pressure"],
              aggfunc="max")

                          Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride       24.0       27.0       14.0        23.0
docetaxel injection           29.0       30.0       29.0        25.0
ketamine hydrochloride        11.0       18.0       15.0        27.0


Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride       42.0       20.0
docetaxel injection           58.0       23.0
ketamine hydrochloride        15.0       24.0

In [35]:
pd.pivot_table(df_pivot,
              index="Drug_Name",
              columns="Date",
              values=["Temperature","Pressure"],
              aggfunc=["max","min"])

                               max                                    \
                          Pressure                       Temperature
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride       24.0       27.0       14.0        23.0
docetaxel injection           29.0       30.0       29.0        25.0
ketamine hydrochloride        11.0       18.0       15.0        27.0

                                                     min             \
                                                Pressure
Date                    16-10-2020 17-10-2020 15-10-2020 16-10-2020
Drug_Name
diltiazem hydrochloride       42.0       20.0       11.0       18.0
docetaxel injection           58.0       23.0       22.0       23.0
ketamine hydrochloride        15.0       24.0        7.0       12.0


                                   Temperature
Date                    17-10-2020  15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride        3.0        20.0       34.0       10.0
docetaxel injection           20.0        17.0       46.0       12.0
ketamine hydrochloride         8.0        20.0        8.0       13.0

In [36]:
pd.pivot_table(df_pivot,
              index="Drug_Name",
              columns="Date",
              values="Temperature",
              aggfunc="max",
              margins=True)

Date                     15-10-2020  16-10-2020  17-10-2020   All
Drug_Name
diltiazem hydrochloride        23.0        42.0        20.0  42.0
docetaxel injection            25.0        58.0        23.0  58.0
ketamine hydrochloride         27.0        15.0        24.0  27.0
All                            27.0        58.0        24.0  58.0

### `pd.cut()`

## **Dealing with Missing Values**

In [37]:
None

In [38]:
type(None)

NoneType

In [39]:
np.nan

nan

In [40]:
type(np.nan)

float

In [41]:
pd.Series([1,np.nan,None])

0    1.0
1    NaN
2    NaN
dtype: float64

In [42]:
pd.Series([1,2.0,np.nan,None])

0    1.0
1    2.0
2    NaN
3    NaN
dtype: float64

In [43]:
pd.Series(["1","2.0",np.nan,None])

0       1
1     2.0
2     NaN
3    None
dtype: object

In [44]:
pd.Series(["1","2.0","np.nan",None])

0         1
1       2.0
2    np.nan
3      None
dtype: object

In [48]:
df.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [49]:
df.isna().sum(axis=1)

0     1
1     1
2     4
3     4
4     3
5     3
6     1
7     1
8     1
9     1
10    2
11    2
12    1
13    1
14    0
15    0
16    0
17    0
dtype: int64

In [50]:
df.isnull().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [51]:
pd.isna

In [52]:
pd.isnull

In [53]:
df1=pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [55]:
df1["B"].mean()

3.0

In [56]:
df1["C"].mean()

nan

In [57]:
df1["A"].mean()

3.0

In [59]:
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       1 non-null      float64
 1   B       3 non-null      float64
 2   C       0 non-null      float64
 3   D       3 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [60]:
df1.fillna(0)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [61]:
df1.fillna(100)

       A      B      C      D
0  100.0    2.0  100.0    0.0
1    3.0    4.0  100.0    1.0
2  100.0  100.0  100.0  100.0
3  100.0    3.0  100.0    4.0

In [62]:
df1["A"].fillna(100)

0    100.0
1      3.0
2    100.0
3    100.0
Name: A, dtype: float64

In [63]:
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [64]:
df1["D"].mean()

1.6666666666666667

In [65]:
df1["A"].fillna(df1["D"].mean())

0    1.666667
1    3.000000
2    1.666667
3    1.666667
Name: A, dtype: float64

In [67]:
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [68]:
df1.fillna(method="ffill")

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

In [70]:
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [69]:
df1.fillna(method="bfill")

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  3.0 NaN  4.0
3  NaN  3.0 NaN  4.0

In [72]:
df1.interpolate()

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  3.5 NaN  2.5
3  3.0  3.0 NaN  4.0

In [75]:
df1["D"].fillna(df1["D"].mean())

0    0.000000
1    1.000000
2    1.666667
3    4.000000
Name: D, dtype: float64

In [78]:
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [77]:
df1.dropna()

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [79]:
df1.dropna(how="any")

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [80]:
df1.dropna(how="all")

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
3  NaN  3.0 NaN  4.0

In [82]:
df1.dropna(how="all",axis=1)

     A    B    D
0  NaN  2.0  0.0
1  3.0  4.0  1.0
2  NaN  NaN  NaN
3  NaN  3.0  4.0

In [85]:
df1.dropna(thresh=3)

     A    B   C    D
1  3.0  4.0 NaN  1.0

In [86]:
df1.dropna(thresh=2)

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
3  NaN  3.0 NaN  4.0

In [89]:
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [87]:
df1.dropna(thresh=2,axis=1)

     B    D
0  2.0  0.0
1  4.0  1.0
2  NaN  NaN
3  3.0  4.0

In [90]:
df_pivot.isna().sum()

Date            0
Drug_Name       0
Time            0
Pressure       13
Temperature    13
dtype: int64

In [91]:
df_pivot

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

In [ ]:
# Find way to replace values 
# Create dataframe groupby --> Date and DrugName

## **String method in pandas**

## **Handling datetime**

## **Writing to a file**

## Doubts

In [ ]:
def custom(x):
    x['tt'] = x['tt'] + 1
    return x['tt'] 
df.groupby(['M']).apply(custom)